.title {
  h1,
  h2,
  h3,
  h4 {
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 0.25em;
  }
  span {
    display: block;
    margin-top: 5px;
    color: $text_secondary_color;
    letter-spacing: 0.25em;
  }
}