// пример переменных
$main_font: HelveticaRegular;

$menu_w: 250px;
$mainNav: 50px;

$main_color: #1e1e1e;
$secondary_color: #252526;
$therd_color: #2d2d2d;
$hepl_color: #333333;

$text_main_color: #cccccc;
$text_secondary_color: #858585;
$icons_color: #fff;

$focus_color_01: #317ac6;
$focus_color_02: #3d8060;

$delete_color: #803d3d;

$animation_speed: 0.25s;