// Normalize.css
@import "../../node_modules/normalize.css/normalize";
// Bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap-grid';

// Шрифты
// Удалить файл fonts.scss, если произошли какие-то изменения со шрифтами
@import "fonts";

// Переменны (цвета, скорость transition и пр)
@import "_variables";

@import "_formItems";

@import "_title";
@import "_mainNav";
@import "_menu";
@import "_modal";
@import "_cardsList";

*{
  outline: none;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body{
  margin: 0;
  padding: 0;
  display: flex;
  height: 100%;
  min-width: 360px;
  overflow-x: hidden;
  font-family: $main_font;
  background-color: $main_color;
  color: $text_main_color;
  main {
    width: calc(100vw - $mainNav - $menu_w);
    padding: 30px 15px;
    height: 100vh;
    max-height: 100vh;
    overflow: auto;
  }
}
